



# ------------------------------------ The Gitignore File -----------------------------------------



# ignore Python bytecode and caches
__pycache__/
*.pyc


# ignore logs
*.log


# ignore environment files
.env


# ignore virtualenvs
*.venv/
venv/


# -------------------------------------------- </> -----------------------------------------------




